<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- jQuery CDN with local fallback -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

  <!-- Semantic UI -->
  <link rel="stylesheet" type="text/css" href="/semantic/out/semantic.min.css">
  <script src="/semantic/out/semantic.min.js"></script>

  <!-- jQuery plugin support script -->
  <script src="/js/plugins.js"></script>



<div class="ui inverted fixed responsive green large menu">
  <a class="active item">
    ABOUT
  </a>
  <a class="item">
    CONTACT
  </a>
  <a class="item">
    SIGN UP
  </a>
</div>
<br>

  <div class="ui inverted segment green">
  <form class="ui inverted form" method="post" action="/artworks">
    <div class="one field">

      <!-- <div class="field">
        <label for="file" class="ui icon button">
            <i class="photo icon"></i>
            Your Photo</label>
        <input type="file" id="file" style="display:none">
      </div> -->

      <div class="field">
        <label>Your Street Art Photo URI Link</label>
        <input placeholder="paste photo's uri here.." type="text">
      </div>

      <h3 class="ui dividing header">Choose a Location</h3>
      <div class="field">
        <label>Locations</label>
        <select class="ui fluid dropdown"></select>
      </div>
     </div> 
      <h3 class="ui dividing header">... or enter a New Location</h3>
      
    <div class="two fields">
      <div class="field">
         <label>Country</label>
         <input placeholder="i.e: USA" type="text">
        </div>
      
       <div class="field">
        <label>City</label>
        <input placeholder="i.e: Los Angeles" type="text">
       </div>
      </div>

    <div class="two fields">
      <div class="field">
        <label>Area</label>
        <input placeholder="i.e: Art District" type="text">
      </div>

      <div class="field">
        <label>Landmark</label>
        <input placeholder="i.e: The Container Yard" type="text">
      </div>
    </div>

    <div class="four fields">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>Human</label>
      </div>
     
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>Animals</label>
      </div>

      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>Graffiti</label>
      </div>

      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" name="scripts">
        <label>Scripts</label>
      </div>
      <br>
      <br>
    </div>
    <div class="four fields">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>Abstract</label>
      </div>

      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>Collabs</label>
      </div>

      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>Patterns</label>
      </div>

      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>Stencils/Wheat Paste</label>
      </div>
    </div>
    <br>

    <br>
    <!-- <div class="ui success message">
      <div class="header">Form Completed</div>
      <p>You are ready to contribute!.</p>
    </div> -->
    <input type="submit" class="ui submit button"></input>
  </form>
</div>
  </div>
</div>