<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- jQuery CDN with local fallback -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

  <!-- Semantic UI -->
  <link rel="stylesheet" type="text/css" href="/semantic/out/semantic.min.css">
  <script src="/semantic/out/semantic.min.js"></script>

  <!-- jQuery plugin support script -->
  <script src="/js/plugins.js"></script>
</head>
<body>
  
 <div class="ui inverted segment">
 <form class="ui inverted form" method="post" action="/">
   <h4 class="ui dividing header">Seach by popular locations</h4>
     <div class="field">
      <label>Locations</label>
      <select class="ui fluid dropdown"></select>
    </div>

  <div class="ui inverted form">
    <div class="six fields">

      <div class="field">
        <label>Country</label>
        <input placeholder="type country here.." type="text">
      </div>

      <div class="field">
        <label>Search for a Country:</label>
        <input placeholder="type a country here.." type="text" ng-model="vm.searchCountry">
      </div>

      <div class="field">
        <label>City</label>
        <input placeholder="type a city here.." type="text">
      </div>   
    <!-- <div class="two fields"> -->  
      <div class="field">
        <label>Area</label>
          <input placeholder="type an area of the city here.." type="text">
            <div class="ui checkbox">
          <input type="checkbox" tabindex="0">
        <label>Search #'s </label>
        </div>
      </div>
      
      <div class="field">
        <label>Landmark</label>
          <input placeholder="type landmark here" type="text">
            <div class="ui checkbox">
          <input type="checkbox" tabindex="0">
        <label>Search #'s </label>
        </div>
      </div>
    <!-- <div class="two fields"> -->
      <div class="field">
        <label>Artist</label>
        <input placeholder="enter artist name.." type="text">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0">
        <label>Search #'s </label>
        </div>
      </div>
      <div class="field">
        <label>Facilitator </label>
        <input placeholder="Facilitator  or foundation name here.." type="text">
          <div class="ui checkbox">
          <input type="checkbox" tabindex="0">
        <label>Search #'s </label>
        </div>
      </div>
      </div>
    </div>

    <div class="eight fields">
    <div class="field">
      <div class="ui radio checkbox">
        <input type="checkbox" name="fruit" tabindex="0">
        <label>Humans</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="checkbox" name="fruit" tabindex="0">
        <label>Animals</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="checkbox" name="fruit" tabindex="0">
        <label>Graffiti</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="checkbox" name="fruit" tabindex="0">
        <label>Scripts</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="checkbox" name="fruit" tabindex="0">
        <label>Abstract</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="checkbox" name="fruit" tabindex="0">
        <label>Collab</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="checkbox" name="fruit" tabindex="0">
        <label>Patterns</label>
      </div>
    </div>
        <div class="field">
      <div class="ui radio checkbox">
        <input type="checkbox" name="fruit" tabindex="0">
        <label>Stencil/Poster</label>
      </div>
    </div>
  </div>

    <div class="ui submit button">Submit</div>
  </div>
</div>
</body>