<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- jQuery CDN with local fallback -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

  <!-- Semantic UI -->
  <link rel="stylesheet" type="text/css" href="/semantic/out/semantic.min.css">
  <script src="/semantic/out/semantic.min.js"></script>

  <!-- jQuery plugin support script -->
  <script src="/js/plugins.js"></script>
<!-- <div class="ui inverted fixed responsive green large menu">
  <a class="active item">
    ABOUT
  </a>
  <a class="item">
    CONTACT
  </a>
  <a class="item">
    SIGN UP
  </a>
</div> -->

<div class="ui inverted segment green">
  <form class="ui inverted form" method="post" action="/user_id">
    
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input placeholder="your name" type="text">
      </div>

      <div class="field">
        <label>Location</label>
        <input placeholder="your location" type="text">
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>E-mail</label>
        <input placeholder="valid email" type="text">
      </div>

      <div class="field">
        <label>Password</label>
        <input placeholder="your password" type="text">
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Your photo</label>
        <input placeholder="copy photo url" type="text">
      </div>

    <div class="field">
        <label>Location</label>
        <input placeholder="your location" type="text">
      </div>
    </div>

    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the terms and conditions</label>
      </div>
    </div>
  <!--<div>
    <label for="file" class="ui icon button">
        <i class="photo icon"></i>
        Your Photo</label>
    <input type="file" id="file" style="display:none">
  </div>-->

  <div class="ui success message">
    <div class="header">Form Completed</div>
    <p>You are ready to contribute!.</p>
  </div>
  <input type="submit" class="ui submit button">Submit</input>
  </form>
</div>
  </div>
</div>