<script>
  $(document)
    .ready(function() {
$('.ui.form')
  .form({
    fields: {
      name: {
        identifier  : 'name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter your name'
          }
        ]
      },
      


      email: {
        identifier  : 'email',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a valid email'
          }
        ]
      },


      passwordMatch: {
        identifier  : 'passwordMatch2',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter your password'
          },
          {
            type   : 'length[6]',
            prompt : 'Your password must be at least 6 characters'
          },
          {
            type   : 'passwordMatch[passwordMatch1]',
            prompt : 'Please put the same value in both fields'
          }
        ]
      },

      passworddifferent: {
        identifier  : 'passworddifferent2',
        rules: [
          {
            type   : 'passworddifferent[passworddifferent1]',
            prompt : 'Please put different values for each field'
          }
        ]
      },
      photo: {
        identifier : 'photo',
        rules: [
          {
            type   : 'empty',
            prompt : 'paste photo uri'
          },
    
      location: {
        identifier : 'location',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter your location'
          }
        ]
      },

        ]
      }
    }
  })
;
  </script>

  <form class="ui form segment">
  <p>Tell Us About Yourself</p>
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <input placeholder="your name" name="name" type="text">
    </div>
    <div class="field">
      <label>E-mail</label>
      <input placeholder="enter a valid email" name="email" type="text">
    </div>
  </div>

  <div class="two fields">
    <div class="field">
        <label>Password</label>
        <input type="password" name="password">
      </div>
    <div class="field">
      <label>Password Verify</label>
      <input type="password" name="password">
    </div>
  </div>
  <div class="two fields">
      <div class="field">
        <label>Your photo</label>
        <input placeholder="copy photo url" type="text">
      </div>

    <div class="field">
        <label>Location</label>
        <input placeholder="your location" type="text">
      </div>
    </div>
  <div class="inline field">
    <div class="ui checkbox">
      <input type="checkbox" name="terms">
      <label>I agree to the terms and conditions</label>
    </div>
  </div>
  <div class="ui blue submit button">Submit</div>
  <div class="ui error message"></div>
</form>