<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- jQuery CDN with local fallback -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

  <!-- Semantic UI -->
  <link rel="stylesheet" type="text/css" href="/semantic/out/semantic.min.css">
  <script src="/semantic/out/semantic.min.js"></script>

  <!-- jQuery plugin support script -->
  <script src="/js/plugins.js"></script>
</head>  



<div class="ui inverted fixed responsive green large menu">
  <a class="active item">
    ABOUT
  </a>
  <a class="item">
    CONTACT
  </a>
  <a class="item">
    SIGN UP
  </a>
</div>
<br>
<br>
<br>

<div class="ui card">
  <div class="image">
    <img src="/img/abel.jpg">
  </div>
  <div class="content">
    <a class="header">Abel</a>
    <div class="meta">
      <span class="date">Joined in 2015</span>
    </div>
    <div class="description">
      I created the Street Earth database to document urban artworks. Please contribute.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>

<div class="ui sizer vertical segment">
  <p></p>
  <div class="ui large header">Contributions</div>
  <p></p>
</div> 

<div class="ui segment">
  <h3 class="ui center header">
    View all
  </h3> 

<div class="ui four cards">
  <div class="card">
    <div class="image">
      <img src="/img/abelgal1.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/img/abelgal2.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="2"></div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/img/abelgal4.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div> 

<div>
<button class="ui inverted blue massive ui button">
    EDIT
</button>
<button class="ui inverted green massive ui button">
  CONTRIBUTE
  </button>
<button class="ui inverted red massive ui button">
  DELETE
  </button>

</div>